html {
	margin:0;
}

body, input, option, table, td, tr {
  font-family:tahoma,sans-serif;
  font-size:12px;
}


body.theme {
	background-color: #CEE6B3;
}


/* Supposedly needed for proper rendering of elements in IE
#element {
	 display:inline-block;
}
*/

A {
  font-family:tahoma,sans-serif;
  font-size:12px;
  text-decoration:none;
/*  color: #376FFF; */
  color: #325100;
}

A:visited {
  font-family:tahoma,sans-serif;
  font-size:12px;
  text-decoration:none;
/*  color: #376FFF; */
  color: #325100;
}

A:hover {
  font-family:tahoma,sans-serif;
  font-size:12px;
  /* text-decoration:overline underline; */
  color: #737373;
}


select {
	font-family:tahoma,sans-serif;
/*	height:21; */
	background-color: #EBEBEB;
	border-right:1px solid #C1CDD8;
}


a.popup {
  TEXT-DECORATION:none; color: #000000;
}


body {
/*  scrollbar-base-color:#EAD8B2; */
  margin:0;
}


body.faq {
/* Temp
  scrollbar-base-color:#CEE6B3; */
  background-color:#CEE6B3;
  margin:0;
}


.ContentFrameBody {
	background-color:#CEE6B3;
	margin:0;
}


.orgForm {
  position:absolute;
  left:0px;
  top:50px;
  width:680;
  height:500;
}


.presentationBodyStyle {
	position:absolute;
	top:210px;
	width:92%;
	height:auto;
	margin-left:4%;
	margin-right:4%;
	visibility:hidden;
	display:none;
	opacity:0;
	filter:alpha(opacity=0);
	-moz-opacity:0;
/*	border-width:thick;
	border-color:#000000;
	border-style:groove; */
}

.presentationBodyStyleVisible {
	position:absolute;
	top:210px;
	width:92%;
	height:auto;
	margin-left:4%;
	margin-right:4%;
}

.noscroll {
  overflow:hidden;
}


.sm_font {
  font-size:11px;
 }


table.table_list TD {
  height:22;
  border-bottom:1px solid #C1CDD8;
}

/*
.tdDefault {
  background-color:#FFFCED;
}

.tdDefaultAlt {
  background-color:#FFF0D5;
}
*/

.trDefault {
  background-color:#CEE6B3;
}

.trDefaultAlt {
  background-color:#EBEBEB;;
}

.trGroupEven {
  background-color:#FFFF99;
}

.trGroupOdd {
  background-color:#CCFFFF;
}

.trSelected {
  background-color:#CCCCCC;
}

.table_header {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #737373;
  border-right:1px solid #C1CDD8;
}

.table_popup {
  background-color: #FFFFFF;
  border-top:1px solid #CCCCCC;
  border-bottom:1px solid #000000;
  border-left:1px solid #CCCCCC;
  border-right:1px solid #000000;
}

.Red {
	color: #A31A2A;
}

.OrgInfoText {
	font-family:tahoma,sans-serif;
	font-size:12px;
	font-weight: bold;
/*	color: #376FA5;*/
	color: #325100;
	text-decoration: none
}


.FormText {
	font-size:16px;
	font-weight: bold;
	color: #404040;
}

.FormText1 {
  font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight: bold;
	color: #404040;
}

.FormValue {
	font-size: 12px;
	color: #000000;
	background-color: #EBEBEB;
	border-right:1px solid #C1CDD8;
}

.FormDisabled {
	font-size: 12px;
/*	font-weight: bold; */
	background-color: #A6A6A6;
	color: #666666;
/*	text-decoration: none; */
	border-right:1px solid #C1CDD8;
}

.PageText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt; color: #000000;
/*	font-weight: bold; */
	text-decoration: none;
}

.WaitText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15pt; color: #000000;
	font-weight: bold;
	text-decoration: none;
	text-align:center;
	vertical-align:middle;
}

.CRText {
  font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight: bold;
	color: #3c8cb4;
	text-decoration: none;
}

.Instruction {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12pt;
	color:#000000;
}

.Instructions {
	font-family: Arial, Helvetica, sans-serif;
	font-size:10pt;
	color:#000000;
}

.Black {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12pt;
	color:#000000;
	font-weight:bold;
}

.Blue {
	font-family: Arial, Helvetica, sans-serif;
	font-size:14pt;
	color:#2A5DC9;
	font-weight:bold;
	text-align:center;
}

.Answer {
	font-family: Arial, Helvetica, sans-serif;
	font-size:10pt;
	color:#978868;
	font-weight:bold;
}


.Links {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12pt;
	color:#325100;
	font-weight:bold;
}

.Links:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12pt;
	color:#325100;
	font-weight:bold;
}

.Links:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12pt;
	color:#737373;
	font-weight:bold;
	/* text-decoration:underline overline; */
}


.DisabledText {
	font-family: tahoma,sans-serif;
	font-size:12px;
	font-weight: bold;
	color: #CCCCCC;
	text-decoration: none;
}


.buttontext {
	font-family:tahoma,sans-serif;
	font-size:12px;
	font-weight: bold;
	color: #0800FC;
	text-decoration: none;
}


.bottomLinks {
	font-family: Arial, Helvetica, sans-serif;
	font-size:10pt;
	color:#325100;
	font-weight:bold;
}

.bottomLinks:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size:10pt;
	color:#325100;
	font-weight:bold;
}

.bottomLinks:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size:10pt;
	color:#737373;
	font-weight:bold;
	/* text-decoration:underline overline; */
}

.bg_repeat	{
	background-repeat:repeat-x;
}

.Title {
	font-family:Tahoma, sans-serif;
	font-size:16px;
	font-weight: bold; color: #325100;
	text-align:center;
	text-decoration: none;
}


.PresentationWindow {
	background-color:#FFFFFF;
	visibility:visible;
	border-color:#000000;
/*	z-index:1;
	position:absolute;
	left:0px;
	top:0px; */
	width:100%;
	height:auto;
}


.translucent {
/* Temp
	filter:alpha(opacity=0); */
	-moz-opacity:0;
	opacity:0;
	display:none;
	visibility:hidden;
	background-color:black;
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	z-index:98;
}


.HideByDefault {
	visibility:hidden;
	display:none;
}


DIV.FeedbackContent {
	position:absolute;
	background-color:#FFFFFF;
	width:508px;
	height:auto;
	border:4px;
	border-color:#719DC7;
	border-style:solid;
	left:1;
	top:1;
	display:none;
	visibility:hidden;
	z-index:99;
	overflow:auto;
}


.Feedback {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11pt;
	color:#000000;
	margin-left:4%;
	margin-right:4%;
/* These properties are used only for debug */
/*
	border:1px solid black;
 */
}


.HeaderFeedback {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12pt;
	color:#000000;
	font-weight:bold;
	text-align:center;
/* These properties are used only for debug */
/*
	border:1px solid black;
*/
}


.Heading {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18pt; color:#000000;
	font-weight:bold;
	text-align:center;
}

.HeaderText {
	font-family: Arial, Helvetica, sans-serif;
	font-size:18pt;
	color:#FFFFFF;
	font-weight:bold;
}

.error {
	font-family: Times, Helvetica, sans-serif;
	font-size:12pt;
	color:#FF3333;
	font-weight:bold;
}


.navigation {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12pt;
	color:#000000;
}


.QuestionText {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12pt;
	color:#000000;
}


DIV.QuestionList {
	overflow:auto;
	height:160;
	width:475;
}


DIV.Stacking {
	float:left;
	clear:left;
	width:100%;
}


.FoilText {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12pt;
	color:#000000;
	z-index:2;	
}

.BigBlack {
	font-family: Arial, Helvetica, sans-serif;
	font-size:14pt;
	color:#000000;
	font-weight:600;
}

.RadioText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color:#336699;
}

.RecurrenceFormText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	color:#336699;
}

.RecurrenceFormText1 {
	font-family:tahoma,sans-serif;
	font-size:12px;
	font-weight: bold;
	color:#376FA5
}


.table_popup {
	background-color: #FFFFFF;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #000000;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #000000;
}


.AdminOuterFolder {
	width:100%;
	height:100%;
	z-index:1;
	background-color: #EBEBEB;
	border-top: 1px solid #737373;
	/*layer-background-color: #EAD8B2;*/
}


#vidplayer {
	z-index: 0;
}
