{include file='presentation/presentation_header.tpl'}

<BODY BGCOLOR="#FFFFFF">
<!--div id="theText" style="position:absolute; left:100px; top:5px; width:592px; height:300px; z-index:2"-->

<p align="center">
  <span class="Instruction">{$notes}</span>
</p>

</BODY>
</HTML>
