<html>
<head>
<style type="text/css">
	.Title {  font-family: Arial, Helvetica, sans-serif; font-size:16pt; color:#FFFFFF; font-weight:bold; }
</style>
</head>
<body bgcolor="#FFFFFF" BACKGROUND="../themes/{$uiTheme}/presentation/popupbox.gif" BGPROPERTIES=FIXED style="background-repeat:no-repeat">
  <div id="textHeader" style="position:absolute; left:0px; top:2px; width:508px; height:20px; z-index:1; text-align:center;">
  	<span class="Title">Feedback</span>
  </div>

  <div id="btnClose" style="position:absolute; left:406px; top:16px; width:98px; height:19px; z-index:4;"><a href="javascript: window.close();" onmouseout="document.images.btnCloseImage.src='../themes/{$uiTheme}/presentation/btn_popup_close_up.gif' " onmouseover="document.images.btnCloseImage.src='../themes/{$uiTheme}/presentation/btn_popup_close_down.gif' "><img name="btnCloseImage" id="btnCloseImage" src="../themes/{$uiTheme}/presentation/btn_popup_close_up.gif" alt="" border="0" /></a></div>


<div id="question" style="position:absolute; left:15px; top:80px; width:488px; height:377px; z-index:6">
  <iframe name="fbInfo" id="fbInfo" src="fb.htm" marginheight="0" marginwidth="0" width="488" height="377" scrolling="auto" frameborder="0">
  </iframe>
</div>
</body>
</html>
