<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
  <title></title>
  <META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <link rel='stylesheet' href='../themes/{$uiTheme}/desktop.css' type='text/css'>
</head>

<body class="theme" onLoad="javascript:document.getElementById('assignmentMenu').innerHTML=parent.document.getElementById('divAssignmentList').innerHTML;">
<!-- See portal.tpl and portal.php for the code that retrieves the question list -->
<div id="assignmentMenu" name="assignmentMenu">
</div>
</body>
</html>
