<FORM id="foils" name="foils" onSubmit="return false();">
  <div class="FoilText">
  <TABLE border="0" cellpadding="3" cellspacing="5" width="100%" style="z-index:2;">
    <tr>
      <td {if $displayChoices == 'right'}rowspan="5"{else}colspan="2"{/if} valign="top" width="40%">
  <script language="JavaScript" type="text/javascript">
  {if $a->frameTypeId == 2}
  {literal}
      if (strMediaPath.indexOf(".pntg") > -1) {
	strObjectToWrite =  '<div id="playa" name="playa">\n';
        strObjectToWrite += '<OBJECT CLASSID="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B"';
        strObjectToWrite += ' CODEBASE="http://www.apple.com/qtactivex/qtplugin.cab"';
        strObjectToWrite += ' WIDTH="480" HEIGHT="360" >\n';
        strObjectToWrite += '<PARAM NAME="src" VALUE="' + strMediaPath + '">\n';
        strObjectToWrite += '<PARAM NAME="autoplay" VALUE="true">\n';
        strObjectToWrite += '<PARAM NAME="controller" VALUE="true">\n';
        strObjectToWrite += '<PARAM NAME="wmode" VALUE="transparent">\n';
        strObjectToWrite += '<EMBED SRC="' + strMediaPath + '.pntg" TYPE="image/x-macpaint"';
        strObjectToWrite += ' PLUGINSPAGE="http://www.apple.com/quicktime/download" QTSRC="' + strMediaPath + '"';
        strObjectToWrite += ' WIDTH="480" HEIGHT="360" AUTOPLAY="true" CONTROLLER="true">\n';
        strObjectToWrite += '</EMBED>\n';
        strObjectToWrite += '</OBJECT>\n';
        strObjectToWrite += '</div>\n';
	document.writeln(strObjectToWrite);
      } else {
        document.writeln('<img src="'+strMediaPath+'" alt="" /><BR>\n');
      }
  {/literal}
  {elseif $a->frameTypeId == 3 || $a->frameTypeId == 5 || $a->frameTypeId == 6}
	document.writeln('<div id="playa" name="playa">\n');
  {literal}
	if ( document.all ) {
		strObjectToWrite = '<object id="MMF" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="480px" height="360px">\n';
		strObjectToWrite += '<param name="movie" value="'+strMediaPath+'">\n';
		strObjectToWrite += '<param name="quality" value="high">\n';
		strObjectToWrite += '<param name="play" value="true">\n';
		strObjectToWrite += '<param name="wmode" value="opaque">\n';
		strObjectToWrite += '<param name="bgcolor" value="#FFFFFF">\n';
		strObjectToWrite += '</object>';
	} else {
		strObjectToWrite = '<embed name="MMF" src="'+strMediaPath+'" play="true" quality="high" swliveconnect="true" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="480px" height="360px" bgcolor="#FFFFFF" wmode="opaque"></embed>\n';
	}
	document.writeln(strObjectToWrite+"<BR>");
  {/literal}
     document.writeln('</div>');
  {elseif $a->frameTypeId == 4}
      document.writeln('<div id="playa" name="playa">');
  {literal}
//	if (window.parent)	{
//		document.writeln(window.parent.name + "\n");
//	}
	if (strMediaPath.indexOf(".mov") > -1)	{
	   	QT_WriteOBJECT(strMediaPath, '480', '360', '', 'SCALE', 'ToFit', 'AUTOPLAY', 'True', 'EnableJavaScript', 'True', 'ID', 'mediaPlayer', 'NAME', 'mediaPlayer');
		/*
		strObjectToWrite = '<OBJECT \n';
		strObjectToWrite += 'CLASSID="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" WIDTH="480" HEIGHT="360" ' +
		                    'CODEBASE="http://www.apple.com/qtactivex/qtplugin.cab" style="z-index:2;">';
		strObjectToWrite += '<PARAM name="SRC" VALUE="'+strMediaPath+'">\n';
		strObjectToWrite += '<PARAM name="AUTOPLAY" VALUE="true">\n';
		strObjectToWrite += '<param name="wmode" value="opaque">\n';
		strObjectToWrite += '<PARAM name="CONTROLLER" VALUE="false">\n';
		strObjectToWrite += '<PARAM name="scale" value="aspect">\n';
		strObjectToWrite += '<EMBED SRC="'+strMediaPath+'" hspace="480" vspace="360" WIDTH="480" HEIGHT="360" AUTOPLAY="true" CONTROLLER="false" scale="aspect" PLUGINSPAGE="http://www.apple.com/quicktime/download/" qtsrcdontusebrowser qtsrcchokespeed=56000 qtsrc="'+strMediaPath+'" wmode="opaque"></EMBED>\n';
		strObjectToWrite += '</OBJECT>\n';
	} else if (strMediaPath.indexOf(".mp4") > -1 || strMediaPath.indexOf(".mpg") > -1 || strMediaPath.indexOf(".mpg4") > -1) {
	       strObjectToWrite = '<OBJECT CLASSID="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B"';
	       strObjectToWrite += ' CODEBASE="http://www.apple.com/qtactivex/qtplugin.cab"';
	       strObjectToWrite += ' WIDTH="480" HEIGHT="360" >\n';
	       strObjectToWrite += '<PARAM NAME="src" VALUE="' + strMediaPath + '">\n';
	       strObjectToWrite += '<PARAM NAME="autoplay" VALUE="true">\n';
	       strObjectToWrite += '<PARAM NAME="controller" VALUE="true">\n';
	       strObjectToWrite += '<PARAM NAME="wmode" VALUE="opaque">\n';
	       strObjectToWrite += '<EMBED TYPE="image/x-macpaint" WMODE="opaque"';
	       strObjectToWrite += ' PLUGINSPAGE="http://www.apple.com/quicktime/download" SRC="' + strMediaPath + '"';
	       strObjectToWrite += ' WIDTH="480" HEIGHT="360" AUTOPLAY="true" CONTROLLER="true">\n';
	       strObjectToWrite += '</EMBED>\n';
	       strObjectToWrite += '</OBJECT>\n'; */
	} else {
		if ( document.all ) {
			strObjectToWrite = '<OBJECT\n';
			strObjectToWrite += 'ID="mediaPlayer"\n';
			strObjectToWrite += 'CLASSID="CLSID:22d6f312-b0f6-11d0-94ab-0080c74c7e95"\n';
			strObjectToWrite += 'CODEBASE="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=5,1,52,701"\n';
			strObjectToWrite += 'STANDBY="Loading Microsoft Windows Media Player components..."\n';
			strObjectToWrite += 'TYPE="application/x-oleobject" width=480, height=400>\n';
			strObjectToWrite += '<PARAM NAME="fileName" VALUE="'+strMediaPath+'">\n';
			strObjectToWrite += '<PARAM NAME="animationatStart" VALUE="true">\n';
			strObjectToWrite += '<PARAM NAME="transparentStart" VALUE="true">\n';
			strObjectToWrite += '<param name="wmode" value="opaque">\n';
			strObjectToWrite += '<PARAM NAME="autoStart" VALUE="true">\n';
			strObjectToWrite += '<PARAM NAME="showControls" VALUE="true">\n';
			strObjectToWrite += '</OBJECT>\n';
		} else {
			strObjectToWrite = '<embed name="mediaPlayer" src="'+strMediaPath+'" showControls="true" animationatStart="true" transparentatStart="true" autoStart="true" pluginspage="http://microsoft.com/windows/mediaplayer/download/" type="application/x-mplayer2" width="480px" height="400px" bgcolor="#FFFFFF"></embed>\n';
		}
	}
  {/literal}
        document.writeln(strObjectToWrite+"<BR>");
     document.writeln('</div>');
  {/if}
	document.writeln('<span class="QuestionText">' + strStem + '</span>');
  </script>
      </td>
    {if $displayChoices == 'bottom' || !$displayChoices}</tr><tr>{/if}
  {literal}
   <script language="JavaScript">
      if (parent.strFoil1.length > 0) {
	document.writeln('<td width="5%" valign="top" align="right"><input type="radio" id="foil1" name="foil" onclick="javascript:ItemSelected(1, uiTheme);" disabled><label id="foillabel1" name="foillabel1" for="foil1"><b>A.</b></label></td>');
	document.writeln('<td width="40%" valign="top"><span id="foilspan1" name="foilspan1" class="FoilText">' + parent.strFoil1 + '</span></td></tr>');
      }
      if (parent.strFoil2.length > 0) {
	document.writeln('<tr valign="top" align="left"><td width="5%" align="right"><input type="radio" id="foil2" name="foil" onclick="javascript:ItemSelected(2, uiTheme);" disabled><label id="foillabel2" name="foillabel2" for="foil2"><b>B.</b></label></td>');
	document.writeln('<td width="40%" valign="top"><span id="foilspan2" name="foilspan2" class="FoilText">' + parent.strFoil2 + '</span></td></tr>');
      } else {
	document.writeln('<tr valign="top" align="left"><td width="45%" colspan="2">&nbsp;</td>');
      }
      if (parent.strFoil3.length > 0) {
	document.writeln('<tr valign="top" align="left"><td width="5%" align="right"><input type="radio" id="foil3" name="foil" onclick="javascript:ItemSelected(3, uiTheme);" disabled><label id="foillabel3" name="foillabel3" for="foil3"><b>C.</b></label></td>');
	document.writeln('<td width="40%" valign="top"><span id="foilspan3" name="foilspan3" class="FoilText">' + parent.strFoil3 + '</span></td></tr>');
      } else {
	document.writeln('<tr valign="top" align="left"><td width="45%" colspan="2">&nbsp;</td>');
      }
      if (parent.strFoil4.length > 0) {
	document.writeln('<tr valign="top" align="left"><td width="5%" align="right"><input type="radio" id="foil4" name="foil" onclick="javascript:ItemSelected(4, uiTheme);" disabled><label id="foillabel4" name="foillabel4" for="foil4"><b>D.</b></label></td>');
	document.writeln('<td width="40%" valign="top"><span id="foilspan4" name="foilspan4" class="FoilText">' + parent.strFoil4 + '</span></td></tr>');
      } else {
	document.writeln('<tr valign="top" align="left"><td width="45%" colspan="2">&nbsp;</td>');
      }
      if (parent.strFoil5.length > 0) {
	document.writeln('<tr valign="top" align="left"><td width="5%" align="right"><input type="radio" id="foil5" name="foil" onclick="javascript:ItemSelected(5, uiTheme);" disabled><label id="foillabel5" name="foillabel5" for="foil5"><b>E.</b></label></td>');
	document.writeln('<td width="40%" valign="top"><span id="foilspan5" name="foilspan5" class="FoilText">' + parent.strFoil5 + '</span></td></tr>');
      } else {
	document.writeln('<tr valign="top" align="left"><td width="45%" colspan="2">&nbsp;</td>');
      }
    </script>
  {/literal}
  </TABLE>
  </div>
</FORM>


